<form method="post" action="{{ path('type_delete', {'id': type.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce type ?');" style="display:inline-block">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type.id) }}">
    <button class="btn btn-danger btn-sm py-0" style="font-size: 0.8em;"><i class="fas fa-trash-alt"></i></button></a>
</form>
