<h4>Confirmation de votre enregistrement comme candidat au Concours Oléicole de Brignoles</h4>

<p>
    Merci de confirmer votre adresse mail en cliquant sur le lien ci-dessous :<br><br>
    <a href="{{ signedUrl|raw }}">Confirmation de mon adresse mail</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement
</p>

<p>
    Les organisateurs du concours
</p>
