.page {
    display: flex;
    width: 100%;
    /* align-items: stretch; */
    justify-content: space-between;
    
}
#sidebar {
    width: 25%;
    min-height: 100vh;
    background: #7386D5;
    color: #fff;
    margin-right: 1em;
}
#coordonnees {
    padding:5px; 
    border:1px solid white;
    border-radius:5px; 
    margin:5px;
}
#echantillons{
    width: 96%;
}
.center-page {
    justify-content: center;
    display: flex;
    width: 100%;
    min-height: 100vh;
}

#validation{
    text-align: center;
    margin-top: 20px;
}
