{% extends "base.html.twig" %}
{% block body %}
<div class="text-center mt-5">
<h4>Concours {{concours.name}}</h4>
</div>
{% include "echantillon/_form.html.twig" %}
{% endblock %}

{% block javascripts %}
<script>
OT = false;
test = false;
$(function() {
    
    $("#echantillon_variety").hide();
   
    var categorieId = $("#echantillon_categorie" ).val();
    categorieTypeIsOT(categorieId);

    $("#echantillon_categorie").change(function(){
        var categorieId = $("#echantillon_categorie" ).val();
        categorieTypeIsOT(categorieId);
    });
    
    /**
    * faire apparaître l'input variety lorsque le type est oliveOt
    * et réciproquement
    */
    function categorieTypeIsOT(categorieId){
        var path = "{{path('checkOT')}}";
        $.post(path, { categorieId: categorieId },function(data){
            if(data == 1){
                $("#echantillon_variety").show();
                 OT = true;
            }else{
                $("#echantillon_variety").val("");
                $("#echantillon_variety").hide();
                OT = false;
            }
        });
    }
    
    var $categorie = $('#echantillon_categorie');
    // When categorie gets selected ...
    $categorie.change(function() {
        // ... retrieve the corresponding form.
        var $form = $(this).closest('form');
        // Simulate form data, but only include the selected categorie value.
        var data = {};
        data[$categorie.attr('name')] = $categorie.val();
        // Submit data via AJAX to the form's action path.
        $.ajax({
            url : $form.attr('action'),
            type: $form.attr('method'),
            data : data,
            success: function(html) {
            // Replace current procede field ...
            $('#echantillon_procede').replaceWith(
                // ... with the returned one from the AJAX response.
                $(html).find('#echantillon_procede')
            );
            // Position field now displays the appropriate procedes.
            }
        });
    });

});
       
</script>
{% endblock %}

