{% if user.echantillons | length > 0 %}
    <table class="table table-striped table-bordered">

    </table>
{% else %}
  
   <a href="{{path('echantillon_add')}}"><button class="btn btn-success mt-5">Ajouter un échantillon</button></a>
  
{% endif %}