{% if echantillons | length > 0 %}

<h5 class="text-center">Échantillons présentés dans le concours {{concours.name}}</h5>
{% include "/dashboard/_liste_echantillons.html.twig" with echantillons %}
  
  
{% endif %}